/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
.container-flex{
    display: flex;
    justify-content: center;
}

/* MAIN */
main{
    width: 40%;
}

/* ASIDE */
aside{
    width: 20%;
}














/* DEBUG */
.debug header{
    height: 150px;
    background-color: goldenrod;
}

.debug footer{
    height: 150px;
    background-color: rgb(18, 219, 192);
}

.debug main{
    height: 400px;
    background-color: #1e90ff;
    
}

.debug aside{
    height: 400px;
    background-color: #ffc0cb;
} 